
.Header{
    background:#F0F0F1;
    margin: 0;
    position:sticky;
    height: 80px;
}
.Logo>h1{ 
    color:#000;
    display: flex;
}
#HederLink{ 
    padding: 5px;
    text-decoration: none;
    color: #000;
}
.contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.Logo{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space;
}
.main_logo{
    position: relative;
    width: 50px;
    height: 50px;
    filter: grayscale();
    margin-right: 10px;
}
